p{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color: blueviolet;
    text-transform: uppercase;
}

h2 {
    text-align: left;
    color: crimson;
}
.italic {
    font-style: italic;
}
.alineado_der {
    text-align: right;
}

ul {
    list-style-type: circle;
  }
  
  .lista_cuad {
    list-style-type: square;
  }
  
  .minusculas {
    list-style-type: lower-alpha;
  }
  .numerado {
    list-style-type: decimal;      
  }

  .lista_imag {
    list-style-image: url("http://forum.geonames.org/gforum/templates/default/images/icon_mini_register.gif")
  }